body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4c6c5;
}

.input {
  background-color: white;
  position: absolute;
  width: 260px;
  top: 220px;
  right: 35%;
  border: 1px solid gray;
  padding: 8px;
  border-radius: 10px;
}
